networks:
  vpn-network:
    driver: bridge

services:
  vpn-sidecar:
    build:
      context: .
      dockerfile: dockerfile.vpn
    container_name: vpn-sidecar
    restart: unless-stopped
    ports:
      - "9091:9091"
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESS=${WIREGUARD_ADDRESS}
      - WIREGUARD_DNS=${WIREGUARD_DNS}
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_ALLOWED_IPS=${WIREGUARD_ALLOWED_IPS}
      - WIREGUARD_ENDPOINT=${WIREGUARD_ENDPOINT}
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - vpn-network

  atd:
    build:
      context: .
      dockerfile: dockerfile.atd
    container_name: atd
    restart: unless-stopped
    network_mode: "service:vpn-sidecar"
    volumes:
      - ./media-cache/complete:/media-cache/complete
      - ./media-cache/incomplete:/media-cache/incomplete
    environment:
      - PUID=1005
      - PGID=1001
    depends_on:
      - vpn-sidecar
